/* Configuracío General */
:root {
    --bg-color: #f3f4f6;
    --text-color: #000000;
    --card-bg: #ffffff;
    --primary-blue: #2563eb;
    --white: #ffffff;
    --black: #111827;
    --border-thick: 2px;
    --shadow: 8px 8px 0px 0px #111827;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s; /* Suavitza el cambi */}

header {
    background-color: var(--primary-blue);
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    border: 3px solid var(--border-black);
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
}

.logo {
    font-weight: 800;
    font-size: 1.2rem;
}

/* Aquest es el contenidor main */
main {
    background: var(--bg-white);
    width: 100%;
    max-width: 450px;
    border: 3px solid var(--border-black);
    border-radius: 0 0 12px 12px;
    padding: 30px 20px;
    box-shadow: 10px 10px 0px var(--border-black); /* L'ombra no està acabada */
    box-sizing: border-box;
}

h1 {
    color: var(--primary-blue);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Butons de selecció i resposta */
.menu-buttons, .options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

/* Botó de "Todos" que ocupi tota la fila */
.menu-buttons button:last-child {
    grid-column: span 2;
}

/* MODE OSCUR */
body.dark-mode {
    background-color: #111827;
}

body.dark-mode main {
    background-color: #1f2937;
    color: white;
    border-color: #ffffff;
    box-shadow: 10px 10px 0px #374151;
}

body.dark-mode .answer-btn, body.dark-mode .menu-buttons button {
    background-color: #374151;
    color: white;
    border-color: #ffffff;
}