/* Configuracío General */
:root {
    --bg-color: #f3f4f6;
    --text-color: #000000;
    --card-bg: #ffffff;
    --primary-blue: #2563eb;
    --white: #ffffff;
    --black: #111827;
    --border-thick: 2px;
    --shadow: 8px 8px 0px 0px #111827;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 130px;
}

header {
    background-color: var(--primary-blue);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid var(--black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.nav-score {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.nav-actions {
    justify-content: flex-end;
}

.nav-score, .nav-actions {
    display: flex;
    align-items: center;
}

.score-badge {
    background: var(--white);
    color: var(--black);
    padding: 10px 20px;
    border: 3px solid var(--black);
    border-radius: 12px;
    font-weight: 900;
    font-size: 1.1rem;
    box-shadow: 4px 4px 0px var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.score-badge    .value {
    color: var(--primary-blue);
    font-size: 1.2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--white);
    -webkit-text-stroke: 2px var(--black);
    cursor: pointer;
}

.logo-img {
    height: 65px;
    width: auto;
    filter: drop-shadow(3px 3px 0px var(--black));
}

/* Aquest es el contenidor main */
main {
    background: var(--white);
    width: 90%;
    max-width: 800px;
    border: 4px solid var(--border-black);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 10px 0px var(--black); /* L'ombra no està acabada */
    box-sizing: border-box;
    margin-bottom: 40px;
}

h1 {
    color: var(--primary-blue);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Butons de selecció i resposta */
.menu-buttons, .options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

/* Botó de "Todos" que ocupi tota la fila */
.menu-buttons button:last-child {
    grid-column: span 2;
}

button.answer-btn, .menu-buttons button , #btn-comencar, #btn-continuar{
    background: var(--white);
    border: 3px solid var(--black);
    border-radius: 12px;
    padding: 20px;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 4px 4px 0px var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

button.answer-btn:hover, .menu-buttons button:hover {
    background-color: var(--primary-blue);
    color: white;
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0px var(--black);
}

button.answer-btn:active, .menu-buttons button:active {
    transform: translateY(0);
    box-shadow: none;
}

button.answer-btn strong {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* Results */
#results-card, main section table {
    width: 100%;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 15px;
}

#results-card div, table td div {
    background: var(--bg-color);
    border: 3px solid var(--black);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 6px 6px 0px var(--black);
}

#results-card strong {
    font-size: 2.5rem; /* Puntuació molt més gran */
    color: var(--primary-blue);
    display: block;
    margin-top: 10px;
}

#results-card p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 0.9rem;
}

/* MODE OSCUR */
#dark-mode-toggle {
    background-color: var(--black);
    border: 3px solid var(--white);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

#dark-mode-toggle:hover {
    background-color: var(--white);
    color: var(--black);
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px var(--black);
}

body.dark-mode {
    background-color: #111827;
}

body.dark-mode main {
    background-color: #1f2937;
    color: white;
    border-color: #ffffff;
    box-shadow: 10px 10px 0px #374151;
}

body.dark-mode .answer-btn, body.dark-mode .menu-buttons button {
    background-color: #374151;
    color: white;
    border-color: #ffffff;
}

body.dark-mode .score-card div, body.dark-mode table td div {
    background-color: #374151;
    border-color: #ffffff;
    color: white;
    box-shadow: 6px 6px 0px #1f2937;
}

body.dark-mode footer {
    color: white;
}

body.dark-mode #modal-content {
    background-color: #1f2937;
    color: white;
    border-color: #ffffff;
    box-shadow: 6px 6px 0px #374151;
}

body.dark-mode .score-badge {
    background: #374151;
    color: white;
    border-color: white;
}

/* CONTENEDOR DEL MODAL (pantalla completa) */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* centrado */
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* FONDO OSCURO */
#modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* CAJA DEL MODAL */
#modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    width: 300px;
    text-align: center;
}

#modal-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#nameInput {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: 3px solid var(--black);
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* EL BOTÓ CONTINUAR */
#btn-continuar {
    background-color: var(--primary-blue);
    color: white;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px solid var(--black);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 5px 0px var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btn-continuar:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 0px var(--black);
    background-color: #1d4ed8;
}

#btn-continuar:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px var(--black);
}